/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.8;
}


.hero {
  background: url('images/awareness.png') no-repeat center center/cover;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-text {
  position: relative;
  z-index: 1;
  max-width: 80%;
  padding: 0 15px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.hero p {
  font-size: 1.1rem;
}


section {
  padding: 50px 20px;
  text-align: center;
}

.about {
  background: #fff;
}


.contact {
  background: url('images/awareness2.jpg') no-repeat center center/cover;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:  palevioletred;
  
}

form {
  background-color:rgba(244, 243, 243, 0.6);
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: 20px auto;
}

label {
  text-align: left;
  margin: 10px 0 5px;
  display: block;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #e91e63;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #c2185b;
}


.quotes .quote-text {
  font-style: italic;
  font-size: 1.2rem;
  margin: 10px 0;
}


footer {
  background:palevioletred;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 0.9rem;
}

/* For mobile user view*/

@media (max-width: 768px) {
  .hero {
    height: 60vh;
  }

  .hero h1 {
    font-size: 1.3rem;
  }

  .hero p {
    font-size: 1rem;
  }
}
